.PrincipalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 55px;
}

.PrincipalContainer h1 {
    color: rgb(235, 170, 35);
}